<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".views.ComicApplication"
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_signin"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_signin"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComicApp"
        tools:targetApi="31">
        <activity
            android:name=".views.AuthorActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".views.LoginActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".views.ComicActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".views.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="uiMode"
            android:exported="true">
        </activity>
        <activity android:name=".views.ListChapterActivity"
            android:exported="true">
        </activity>
        <activity android:name=".views.CategoryActivity"/>
        <activity android:name=".views.CommentActivity"/>
        <activity android:name=".views.ChildCommentActivity"/>
        <activity android:name=".views.HistoryActivity"/>
        <activity android:name=".views.SignUpActivity" />
        <activity android:name=".views.ReadingActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="true">
        </activity>
        <activity android:name=".views.SplashScreenActivity"
            android:exported="true">            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
    </application>

</manifest>